@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Share+Tech+Mono&display=swap');

body {
    background-image: url(img/back1.png);
    font-family: 'Abel', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Share Tech Mono', monospace;  
    transition: background 0.2s linear ;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 25px;
    letter-spacing: 1.2px;
    position: relative;
}

.nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav a:hover::after{
    width: 100%;
}