@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Share+Tech+Mono&display=swap');

body{
    background-image: url(img/nasaFundo.jpg);
    font-family: 'Abel', sans-serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    font-size: 20px;
    background-attachment: fixed;
}

.nav{
    display: flex;
    align-items: center;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0;
    font-size: 25px;
    letter-spacing: 1.2px;
    position: relative;
}


.nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav a:hover::after{
    width: 100%;
}

.caixaAtras{
    width: 1200px;
    height: 580px;
    background-image: url(img/fundoo.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    opacity: 84%;
}

.box{ 
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 77%;
        transform: translate(-50%, -50%);
        width: 470px;
        height: 580px;
        background:rgb(0, 0, 0);
        padding: 20px;
        border-color:transparent;
        border-radius: 15px;
}

.box p{
    display: flex;
    justify-content: center;
    font-size: 55px;
}

.box hr{
    width: 200px;
    margin-left: 120px;
}

.btn{
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    font-size: 22px;
    border: none;
    margin-left: 70px;
}

.btn:hover{
    cursor: pointer;
    color: rgb(172, 172, 172);
    background-color:rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
    position: relative;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

#btnKnow:hover::after{
    width: 100%;
}

#profile-picture {
    position: fixed;
    top: 84px;
    right: 285px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  #profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 300px;
  }

  #exampleInputEmail1{
    border-color: black;
    border-style: solid;
    border-radius: 9px;
  }

  .icones{
    display: flex;
    justify-content: space-evenly;
  }

  h3{
    display: flex;
    justify-content: center;
  }

footer {
    text-decoration: none;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

hr{
    color: white;
}

p{
    font-size: 19px;
}

@media screen and (max-width: 998px){
    .caixaAtras{height: 0px;}
    .box{height: 600px; margin-top:100px; width: 100%;}
    footer{display: none;}
    #pSenha{font-size: 15px;}
    #pNome{font-size: 15px;}
    #pLastName{font-size: 15px;}
    #pPassword{font-size: 15px;}
    .box h2{font-size: 30px;}
    .mb-3{font-size: 20px;}
    }